---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import Link from "@/components/shared/Link";
import Contact from "@/components/Contact";
import TagItem from "@/components/shared/TagItem";

export async function getStaticPaths() {
  const noteEntries = await getCollection("notes");
  return noteEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<Layout title={entry.data.title}>
  <section
    class="mx-auto prose prose-slate dark:prose-invert md:prose-p:text-justify"
  >
    <Link className="my-4" href="/notes">&lt; Back</Link>

    <h1 class="text-center mt-16 leading-normal">{entry.data.title}</h1>
    <div class="text-center">
      {remarkPluginFrontmatter.minutesRead}
    </div>
    <ul class="flex flex-wrap justify-center gap-2 list-none p-0">
      {entry.data.tags.map((tag: string) => <TagItem text={tag} />)}
    </ul>
    <div class="italic text-center">
      {entry.data.published.toDateString()}
    </div>

    <div class="h-0.5 my-12 bg-gradient-to-r from-blue-500 to-fuchsia-600">
    </div>

    <article>
      <Content />
    </article>
    <Contact client:idle />
  </section>
</Layout>
@/components/shared/TagItem
