---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import Link from "@/components/shared/Link";
import Contact from "@/components/shared/Contact";
import TagItem from "@/components/shared/TagItem";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<Layout title={entry.data.title}>
  <section
    class="prose prose-slate mx-auto dark:prose-invert prose-img:mx-auto md:prose-p:text-justify"
  >
    <Link className="my-4" href="/blog">&lt; Back</Link>

    {
      entry.data.image ? (
        <img src={entry.data.image} class="mx-auto max-w-[90%] rounded-xl" />
      ) : null
    }

    <h1 class="mt-16 text-center leading-normal">{entry.data.title}</h1>
    <div class="text-center">
      {remarkPluginFrontmatter.minutesRead}
    </div>
    <ul class="flex list-none flex-wrap justify-center gap-2 p-0">
      {entry.data.tags.map((tag: string) => <TagItem text={tag} />)}
    </ul>
    <div class="text-center italic">
      {entry.data.published.toDateString()}
    </div>

    <p class="my-12">{entry.data.description}</p>

    <div class="my-12 h-0.5 bg-gradient-to-r from-blue-500 to-fuchsia-600">
    </div>

    <article>
      <Content />
    </article>
    <Contact client:idle />
  </section>
</Layout>
 @/components/shared/Contact
