---
import Layout from "@/layouts/Layout.astro";
import clsx from "clsx";
import { getCollection } from "astro:content";
import Link from "@/components/shared/Link";
import Contact from "@/components/Contact";
import BlogTag from "@/components/shared/BlogTag";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <section
    class="mx-auto prose prose-slate dark:prose-invert md:prose-p:text-justify"
  >
    <Link className="my-4" href="/blog">&lt; Back</Link>

    {entry.data.image ? <img src={entry.data.image} class="mx-auto rounded-xl max-w-[90%]"></img> : null}

    <h1 class="text-center mt-16">{entry.data.title}</h1>
    <ul class="flex flex-wrap justify-center gap-2 list-none p-0">
      {entry.data.tags.map((tag: string) => <BlogTag text={tag} />)}
    </ul>
    <div class="italic text-center">
      {entry.data.published.toDateString()}
    </div>
    <p class="my-12">{entry.data.description}</p>

    <div class="h-0.5 my-12 bg-gradient-to-r from-blue-500 to-fuchsia-600">
    </div>

    <article>
      <Content />
    </article>
    <Contact client:idle />
  </section>
</Layout>
